.header-section {
  width: 100%;
  font-size: $font_size_small;
  box-shadow: 0 3px 5px rgba(211, 211, 211, 4);

  &__navbar {
    display: flex;
    align-items: center;
    height: 62px;
    margin: auto;
    color: #fff;

    &--nav {
      display: flex;

      &Left {
        margin-right: auto;
      }
      &Right {
        margin-left: auto;
      }

      & > a,
      & > li {
        padding-right: 10px;

        &:last-child {
          padding-right: 0;
        }
      }

    }
  }
}
