* {
  padding: 0px;
  margin: 0px;
  list-style: none;
  box-sizing: border-box;
}

body {
  background-color: $main_background_color;
  font-size: $font_size_base;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  width: 1180px;
  margin: auto;

  @include under_laptop {
    width: 95%;
  }
}

.header-section {
  background-color: $nav_background_color;
}

.profile-section__header {
  background-color: #C8E4FF;
  color: #5BAAF7;
  padding: 13px 0 10px 13px;
  font-weight: bold;
}

// sns-iconのbackground
.twitter {
  background-color: $twitter_background_color;
}

.facebook {
  background-color: $facebook_background_color;
}

.instgram {
  background: $instgram_background_color;
}

.feedly {
  background-color: $feedly_background_color;
}

// 検索ボックス
.search-box {
  display: flex;
  justify-content:space-between;
  padding: 10px 12px;
  margin-bottom: 40px;
  color: $font_color_gray;
  background:linear-gradient(90deg,#ffffff 0%,#ffffff 88%,#5BAAF7 88%,#5BAAF7 100%);
  box-shadow: $box_shadow;
  border-radius: 4px;
  cursor: text;
}

// footer-style
.footer-article {
  color: #656668;
  font-size: 15px;
  font-weight: bold;
  padding: 10px 0; 
}

//コラム見出し 
.column-lead {
  border-left: solid 3px #3C3C3C;
  padding: 7px 0 7px 10px;
  margin-bottom: 15px;
}

// card-style
.article-image {
  width: 80px;
}

.card-parent {
  display: flex;
  display: table;
}

.card-child {
  display: table-cell;
  vertical-align: middle;
  padding-left: 10px;
}

.card-child-top {
  color: #82858B;
  font-size: 13px;
  font-weight: bold;
}

.card-child-bottom {
  color: #B7B7B7;
  font-size: 10px;
}
