* {
  padding: 0px;
  margin: 0px;
  list-style: none;
  box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: none;
}
.container {
  width: 1180px;
  margin: auto;

  @include under_laptop {
    width: 95%;
  }
}