header {
  background-color: #58A9EF;
  box-shadow: 0 3px 5px rgba(211, 211, 211, 4);

  .header-section {
    display: flex;
    justify-content: space-between;
    padding: 0 47px;
    height: 62px;

    a {
      display: flex;
      align-items: center;
    }

    .logo {
      width: 165px;
    }
  }  

  ul {
    display: flex;
    padding-right: 10px;

    li {
      padding: 0 10px;
      color: white;
      font-size: 15px;
    }
  }
}
