// ブレイクポイント
$breakpoint_mobile_s: 320px;
$breakpoint_mobile_m: 375px;
$breakpoint_mobile_l: 425px;
$breakpoint_tablet: 768px;
$breakpoint_laptop: 1024px;

// 文字サイズ
$font_size_base: 18px;
$font_size_small: 15px;

// 背景色
$nav_background_color: #58A9EF;
$main_background_color: #EAEDF2;
